a:hover {
    color: rgb(70, 247, 0);
}

ul {
    color: white;
    font-size: medium;
}

body {
    background-color: rgb(255, 255, 255);
}

table {
    margin-left: auto;
    margin-right: auto;
}

table tr:nth-child(1)>th:first-child {
    background-color: white;
    border: none;
}

table td:nth-child() {
    background-color: black;
}

caption {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    border-radius: 100px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 10px;
    border: 8px outset;
    border-color: aqua;
}
th:hover, td:hover{
    background-color: aqua;
}

th,
td {
    text-align: center;
    width: 10px;
    margin: 2px;
    padding: 2px;
    border: 5px outset;
    border-radius: 5px;

    background-color: rgb(239, 241, 245);
    color: black;
}


.hour {
    font-weight: bold;
    background-color: blue;
    border-radius: 10px;
    margin: 10px;
    color: white;
}

.sor {
    color: rgb(0, 132, 255);
}

.serv {
    color: rgb(2, 161, 2);
}

.emple {
    color: rgb(255, 251, 0);
}

.ap {
    color: rgb(243, 134, 9);
}

.ingles {
    color: rgb(255, 0, 0);
}

.python {
    color: rgb(0, 238, 255);
}

.seguridad {
    color: rgb(189, 3, 158);
}

.soste {
    color: rgb(2, 204, 79);
}

.recre {
    background-color: rgb(238, 255, 0);
    font-weight: bold;
}
span{
    visibility: hidden;
    display: block;
}
span:hover a{
    visibility: visible;
}