h1 {
    color: aquamarine;
}

h2 {
    color: darkmagenta;
}

code {
    color: blue;
    font-weight: bold;
}

#pan {
    color: red;
}

#pan2 {
    font-style: italic;
}
.bold span{
    font-weight:bold ;
}
.bold span span{
    color:gray;
}

.bold span span span{
    color:green;
}
