.container {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    border: 1px solid black;
    background-color: purple;
}

.container div {
    border: 1px solid black;
    background-color: orange;
    margin: 5px;
    padding: 5px;
    align-items: center;
}

.container2 {
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    background-color: black;
    border: 1px solid black;
    width: 100px;
}

.container2 div {
    border: 1px solid black;
    background-color: orange;
    margin: 5px;
    padding: 5px;
    align-items: center;
}

#nav {
    background-color: beige;
}

#nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
#nav ul li {
    background-color:brown ;
    padding: 10px 15px;
    border: 5px solid rgb(31, 29, 29);
}
#nav ul li:hover {
    background-color: aqua;
}

#nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}