html,body{
    padding: 0;
    margin: 0;
}
.container{
    display: grid;
    grid-template-rows: 25% 65% 15%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas: 
    "header header header header"
    "main main . aside"
    "footer footer footer footer";
    height: 100vh;
}
header{
    grid-area: header;
    background-color: blue;
}
main{
    grid-area: main;
    background-color:yellow;
}
aside{
    grid-area: aside;
    background-color:darkolivegreen;
}
footer{
    grid-area: footer;
    background-color:pink;
}