.container {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    border: 1px solid black;
    background-color: purple;
}

.container div {
    border: 1px solid black;
    background-color: orange;
    margin: 5px;
    padding: 5px;
    align-items: center;
}
.container2{
    display:flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    background-color: black;
    border: 1px solid black;
    width: 100px;
}
.container2 div {
    border: 1px solid black;
    background-color: orange;
    margin: 5px;
    padding: 5px;
    align-items: center;
}