body {
  margin: 0;
  font-family: 'Raleway';
  font-size: 16px;
  line-height: 1.8em;
}
header,
main,
footer {
  margin: 0 auto;
}
header{
  padding: 2;
  text-align: center;
  background-image: url("../img/fondo_pantalla_3.png");
  background-size: cover;
  background-position: fixed;
  color: white;
}

header section {
  margin: 0 auto;
  max-width: 640px;
}

header img {
  border-radius: 50%;
  max-width: 150px;
}
nav {
  border-top: 1px solid;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  padding-right: 40px;
  text-transform: uppercase;
}

nav a {
  color: ;
  text-decoration: none;
}

nav a:hover {
  color: blueviolet;
}

nav li.active {
  background-color: beige;
  color: black;
  padding: 12px;
  border-radius: 40%;
}

nav li.active:hover {
  cursor: default;
}
footer {
  padding: 1em 1.5em;
  background: #A7B8BF;
  color: white;
  text-align: center;
}