header {
    padding: 10px;
    background-image: url(../img/fondo_pantalla_3.png);
    text-align: center;
    background-size: cover;
    background-position: fixed;
    color: white;
}

header img {
    border-radius: 50%;
    max-width: 150px;
}

nav {
    border-top: 1px solid;
}

nav ul {
    display: flex;
    justify-content: space-around;
    background-color: beige;
    list-style-type: none;
    border-radius: 120px;
    flex-direction: row;
    border-bottom: 1px solid black;
}

nav li {
    display: inline;
    padding-right: 40px;
    text-transform: uppercase;
}

nav a {
    color: ;
    text-decoration: none;
}

nav a:hover {
    color: blueviolet;
}

nav li.active {
    background-color: beige;
    color: black;
    padding: 12px;
    border-radius: 40%;
}

nav li.active:hover {
    cursor: default;
}

ul>li {
    list-style-type: none;
}