html,body{
    padding: 0;
    margin: 0;
}
.container{
    display: grid;
    grid-template-rows: 25% 50% 25%;
    grid-template-columns: 50% 25% 25%;
    grid-template-areas: 
    "header header header"
    "main . aside"
    "footer footer footer";
    height: 100vh;
}
header{
    grid-area: header;
    background-color: yellow;
}
main{
    grid-area: main;
    background-color: blue;
}
aside{
    grid-area: aside;
    background-color: red;
}
footer{
    grid-area: footer;
    background-color: greenyellow;
}
